<table>
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Color</th>
  </tr>
{% for user in users %}
  <tr {% if user.name == current.name %}class="current"{% endif %}>
    <td>{{ user.login }}</td>
    <td>{{ user.name }}</td>
    <td><div class="color" style="background-color:{{ user.color1 }}"></div></td>
  </tr>
{% endfor %}
</table>
{% else %}
  <form method="post">
    <input type="text" name="login" placeholder="login" value="{{ data.login }}">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login">

    <div>{{ message }}</div>
  </form>
{% endif %}