{% extends "base.html" %}

{% block title %}Signin{% endblock %}

{% block main %}
<form id="form2" method="post">
  <input type="text" id="log" name="login" placeholder="login" value="{{ data.login }}">
  <input type="password" id="pass" name="pass" placeholder="password" value="{{ data.password }}">
  <input type="email" id="mail" name="email" placeholder="example@gmail.com" value="{{ data.email }}">
  <!-- <input type="color" id="c2" name="color2" value="{{ data.color2 }}"><br/> -->
  <input type="submit" id="but" value="Create account" style="margin-top: 12px;">
</form>
<script src="client.js"></script>
<div class="message">
  {{ message }}
</div>
{% endblock %}