body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color:white;
  font-weight: bold;
  margin: 2em;
  text-align: center;
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback5.jpg?1557058741046') repeat scroll center; 

}


#vide{
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback6.jpg?1557059397716') repeat scroll center; 
}

table{
  border-collapse:collapse;
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback7.jpg?1557059482203') repeat-x scroll center; 
 /* background-image: linear-gradient(45deg,black 25%,DimGray 0,DimGray 50%,black 0,black 75%,DimGray 0);
  background-size: 40px 40px;*/
  
}



tr:nth-child(odd) td:nth-child(odd){
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback6.jpg?1557059397716') repeat scroll center; 
}
tr:nth-child(even) td:nth-child(even){
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback6.jpg?1557059397716') repeat scroll center; 
}
