
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color:white;
  font-weight: bold;
  margin: 2em;
  text-align: center;
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback5.jpg?1557058741046') repeat scroll center; 
  background-size:contain;
}


#vide{
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback6.jpg?1557059397716') repeat scroll center; 
}

table{
  border-collapse:collapse;
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback7.jpg?1557059482203') repeat scroll center; 
 /* background-image: linear-gradient(45deg,black 25%,DimGray 0,DimGray 50%,black 0,black 75%,DimGray 0);
  background-size: 40px 40px;*/
  
}



tr:nth-child(odd) td:nth-child(odd){
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback6.jpg?1557059397716') repeat scroll center; 
}
tr:nth-child(even) td:nth-child(even){
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback6.jpg?1557059397716') repeat scroll center; 
}


@-webkit-keyframes twinkling{ 
  0%{
  opacity:0.1; 
  }
  100%{
  opacity:0.6; 

  }
}

#resultat{
  position: absolute;
  width: 200px;
  height: 160px;
  background: white url('https://cdn.glitch.com/e95d2bec-803c-4cf7-9842-75a2a6969008%2Fback6.jpg?1557059397716') repeat scroll center; 
  margin: 10px auto;
  right: 160px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

ul{
  width:190px;
  height:80px;
  text-align:center;
  padding-inline-start: 0px;
  margin: 10px auto;
  border: 1px solid brown;
}

li{
  width:180px;
  height:36px;
  text-align:center;
  list-style: none;
  margin: 2px auto;
}

img{
  width:33px;
  height:33px;
  vertical-align: middle;
  margin: 0 5px 0 5px;
}

#userpion{  
  font-weight:bold; 
  color:white; 
  height:33px;
  width :33px;
  vertical-align: middle;
}