
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color:white;
  font-weight: bold;
  margin: 2em;
  text-align: center;
  background: white url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Fback5.jpg?1558690302219') repeat scroll center; 
  background-size:contain;
}


#vide{
  background: white url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Fback6.jpg?1558690302151') repeat scroll center; 
}

table{
  border-collapse:collapse;
  background: white url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Fback7.jpg?1558690304338') repeat scroll center; 
 /* background-image: linear-gradient(45deg,black 25%,DimGray 0,DimGray 50%,black 0,black 75%,DimGray 0);
  background-size: 40px 40px;*/
  
}



tr:nth-child(odd) td:nth-child(odd){
  background: white url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Fback6.jpg?1558690302151') repeat scroll center; 
}
tr:nth-child(even) td:nth-child(even){
  background: white url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Fback6.jpg?1558690302151') repeat scroll center; 
}


@-webkit-keyframes twinkling{ 
  0%{
  opacity:0.1; 
  }
  100%{
  opacity:0.6; 

  }
}

#resultat{
  position: absolute;
  width: 15%;
  height: 160px;
  background: white url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Fback6.jpg?1558690302151') repeat scroll center; 
  margin: 0px auto;
  right: 5%;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 80%;
}

ul{
  width:90%;
  height:80px;
  text-align:center;
  padding-inline-start: 0px;
  margin: 0px auto;
  margin-top:10px;
  margin-bottom:10px;
  border: 1px solid brown;
  margin-inline-start: 2%;
  margin-inline-end: 5%;
}

li{
  width:95%;
  height:36px;
  text-align:center;
  list-style: none;
  margin: 2px auto;
}

img{
  width: 19%;
  height: 100%;
  vertical-align: middle;
  margin: 0 5px 0 5px;
}

#userpion{  
  font-weight:bold; 
  color:white; 
  width: 19%;
  height: 100%;
  vertical-align: middle;
}