body{
  
  text-align: center;
  background: white url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Floginback1.jpg?1558658986614') no-repeat scroll center; 
}

.color {
  display: inline-block;
  width: 2em;
  height: 1em;
}

table {
  border-collapse: collapse;
  text-align: center;
}

td, th {
  padding: 0.5ex 1ex;
}

th:not(:first-child), td:not(:first-child) {
  border-left: solid thin black;
}

.current {
  font-weight: bold;
}

menu a {
  display: inline-block;
  padding: 0.5ex 1ex;
}

#form1 {
  margin: 25px;
  
  background-color: cyan;
  display: inline-block;
  width: 560px;
  height: 390px;
  
  background:  url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Flogin0.png?1558659053655') no-repeat scroll center;
  background-size:contain;
}
#form2{
  margin: 25px;
  
  background-color: cyan;
  display: inline-block;
  width: 560px;
  height: 390px;
  
  background: url('https://cdn.glitch.com/9893d270-7092-455c-a88d-67b1ad9a4b65%2Fsignin.png?1558659040882') no-repeat scroll center;
  background-size:contain;
}

#log , #pass, #mail{
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 80%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  opacity:0.5;
}

#but {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

#but:hover {
  background-color: lightgreen;
}

#but:active {
  box-shadow: none;
}

menu{
  width: 100px;
  height: 35px;
  margin: 10px auto;
  padding-left: 150px;
}

#lien_out_signin{
  width: 80px;
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  text-align: center;
}